@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  /* display: inline-block; */
  max-width: 90% auto;
  margin: 30px auto;
  margin-left:30px ;
  margin-right:30px ;
  overflow: auto;
  min-height: 700px;
  border: 5px solid steelblue;
  padding: 30px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 50%;
}

.piece {
  height: 100%;
  width: 30%;
  /* overflow-x: hidden; */
  padding-top: 20px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.cart {
  /* height: 50%;
  width: 30%; */
  padding-top: 20px;
  background: #2dbd2d;
}
.barscreenbox{
  width: 100%;
}
.dx-scheduler-cell-sizes-horizontal {
  width: 50px;
}


.product {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.prodtypeset{
  background: rgb(162, 13, 207);
  /* height: 1000%;
  width: 80%; */
}

.changeprice{
  float: right;
}

.mainbar{
  height: 90%;
  width: 80%;
  padding-top: 20px;
  background: orange;
  
  position: absolute;
  left: 200px;
  top: 60px;
}

/* .tablle{
  height: 50%;
  width: 100%
}

.intable{
  background: rgb(214, 216, 97);  position: absolute;
  left: 200px;
  top: 60px;

} */

.prodbutton {
  background: rgb(214, 216, 97);
  /* height: 50%;
  width: 100%; */
  padding: 20px 20px;
  border-color: white;
  border-style: dashed;
  border-radius: 15px;
}

.finalbasket{
  background: rgb(87, 13, 13);
  height: 20%;
  width: 50%;
  color: white
}

.cartbutton{
  background: rgb(57, 200, 112);
  border-color: black;
  border-style: solid;
  /* padding: 5px; */
  /* border-radius: 5px */

}

.display_prods {
  background: black;
  height: 100%;
  width: 100%;
  /* position: absolute;
  left: 40%;
  top:100%; */

}
.itemchangersdaddy{
  /* background: greenyellow; */
  /* height: 100%;
  width: 25%;
  position: absolute;
  left: -0.5px;
  top:50px; */
}

.prodset {
  /* height: 50%;
  width: 50%; */
  background:#f4f4f4;
  margin: 10px;
  padding: 10px 20px;
  /* position: absolute; */
  /* border-color: coral;  */
  /* position: relative; */


  /* display: inline-block; */
}

.datagrid{
  position: absolute;
  background: rgb(245, 228, 228);

}

.dab{
  background:#2dbd2d;
  text-align: center;
}

.assigned{
  background:rgb(224, 76, 212);
  text-align: center;
}

.unassigned{
  background:#37b604c7;
  text-align: center;
}

.addprodbutt{
  /* margin: 5px;
  padding: 5px 10px; */
  position: relative;
  left: 50%;

}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
  width: 50%
}

.type-control {
  width: 100%;
  height: 40px;
  font-size: 17px;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}








.cart_svlist{
  width: 100%;
  height: 40px;
}
.cart_button{
  width: 50%;
  height: 40px;
}